{% extends 'base.html.twig' %}

{% block body %}

<form action="{{ path('app_products_create') }}" class="well" method="post">
<label>Reference</label>
<input type="text" name="reference" />
<br />
<label>Price</label>
<input type="number" name="price" />
<br />
<label>Category</label>
<select name="category_id">
    {% for category in categories %}
        <option value="{{ category.id }}">{{ category.designation }}</option>
    {% endfor %}
</select>
<br />
<input type="submit" class="btn btn-primary" value="Créer" />
</form>


{% endblock %}