{% extends 'base.html.twig' %}

{% block body %}


<h1>Product</h1>


ID : {{ product.id }}
<br />
REF: {{ product.reference }} 
<br />
Price : {{ product.price }} EUROS
<br />
Category : {{ product.category ? product.category.designation : 'aucune' }}

{% endblock %}